#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Homerow Mods
#define hrml(k1,k2,k3,k4) &ht LCTRL k1  &ht LALT k2  &ht LSHFT k3  &ht LCMD k4
#define hrmr(k1,k2,k3,k4) &ht RCMD k1  &ht RSHFT k2  &ht RALT k3  &ht RCTRL k4

#define A1 0
#define A2 1
#define S1 2
#define S2 3
#define NUM 4
#define NAV1 5
#define NAV2 6
#define BT 7
#define GM1 8
#define GM2 9

//        0  1  2     3  4  5
//     6  7  8  9     10 11 12 13

//           14 15    16 17

/ {
    combos {
        compatible = "zmk,combos";
// a1
        rlcombo {
            timeout-ms = <20>;
            key-positions = <7 0>;
            bindings = <&rlmacro>;
            layers = <A1>;
        };
        tdcombo {
            timeout-ms = <20>;
            key-positions = <8 1>;
            bindings = <&tdmacro>;
            layers = <A1>;
        };
        yscombo {
            timeout-ms = <20>;
            key-positions = <9 2>;
            bindings = <&ysmacro>;
            layers = <A1>;
        };
        hmcombo {
            timeout-ms = <20>;
            key-positions = <10 3>;
            bindings = <&hmmacro>;
            layers = <A1>;
        };
        oacombo {
            timeout-ms = <20>;
            key-positions = <11 4>;
            bindings = <&oamacro>;
            layers = <A1>;
        };
        uicombo {
            timeout-ms = <20>;
            key-positions = <12 5>;
            bindings = <&uimacro>;
            layers = <A1>;
        };
// a2
        ckcombo {
            timeout-ms = <20>;
            key-positions = <9 2>;
            bindings = <&ckmacro>;
            layers = <A2>;
        };
        ffcombo {
            timeout-ms = <20>;
            key-positions = <10 3>;
            bindings = <&ffmacro>;
            layers = <A2>;
        };
        quicombo {
            timeout-ms = <20>;
            key-positions = <11 4>;
            bindings = <&quimacro>;
            layers = <A2>;
        };
        ellicombo {
            timeout-ms = <20>;
            key-positions = <12 5>;
            bindings = <&ellimacro>;
            layers = <A2>;
        };
// s1
        open1combo {
            timeout-ms = <20>;
            key-positions = <7 0>;
            bindings = <&kp LBRC>;
            layers = <S1>;
        };
        open2combo {
            timeout-ms = <20>;
            key-positions = <8 1>;
            bindings = <&kp LPAR>;
            layers = <S1>;
        };
        open3combo {
            timeout-ms = <20>;
            key-positions = <9 2>;
            bindings = <&kp LBKT>;
            layers = <S1>;
        };
        close3combo {
            timeout-ms = <20>;
            key-positions = <10 3>;
            bindings = <&kp RBKT>;
            layers = <S1>;
        };
        close2combo {
            timeout-ms = <20>;
            key-positions = <11 4>;
            bindings = <&kp RPAR>;
            layers = <S1>;
        };
        close1combo {
            timeout-ms = <20>;
            key-positions = <12 5>;
            bindings = <&kp RBRC>;
            layers = <S1>;
        };
// nav
        btlayercombo {
            timeout-ms = <30>;
            key-positions = <3 4 5>;
            bindings = <&to BT>;
            layers = <NAV1>;
        };

    };

    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "hold_tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <190>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        A2macro: A2macro {
		    compatible = "zmk,behavior-macro";
		    label = "A2macro";
	    	#binding-cells = <0>;
	    	bindings = <&sl A2>;
        };
// a1
        rlmacro: rlmacro {
            compatible = "zmk,behavior-macro";
            label = "rlmacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp R &kp L>;
        };
        tdmacro: tdmacro {
            compatible = "zmk,behavior-macro";
            label = "tdmacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp T &kp D>;
        };
        ysmacro: ysmacro {
            compatible = "zmk,behavior-macro";
            label = "ysmacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp Y &kp S>;
        };
        hmmacro: hmmacro {
            compatible = "zmk,behavior-macro";
            label = "hmmacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp H &kp M>;
        };
        oamacro: oamacro {
            compatible = "zmk,behavior-macro";
            label = "oamacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp O &kp A>;
        };
        uimacro: uimacro {
            compatible = "zmk,behavior-macro";
            label = "uimacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp U &kp I>;
        };
// a2
        ckmacro: ckmacro {
            compatible = "zmk,behavior-macro";
            label = "ckmacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp C &kp K>;
        };
        ffmacro: ffmacro {
            compatible = "zmk,behavior-macro";
            label = "ffmacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp F &kp F>;
        };
        quimacro: quimacro {
            compatible = "zmk,behavior-macro";
            label = "quimacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp Q &kp U &kp I>;
        };
        ellimacro: ellimacro {
            compatible = "zmk,behavior-macro";
            label = "ellimacro";
            #binding-cells = <0>;
            wait-ms = <5>;
            bindings = <&kp DOT &kp DOT &kp DOT>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        alpha1 {
            bindings = <
                            &kp L       &kp D       &kp Y               &kp M       &kp O       &kp U
               hrml(N,          R,          T,          S)             hrmr(H,          A,          I,          E)

                                        &kp SPACE   &mo NAV1            &mo S1      &A2macro
            >;
        };

        alpha2 {
            bindings = <
                            &kp X       &kp V       &kp G               &kp K       &kp Q       &kp COMMA
                &kp P       &kp W       &kp B       &kp C               &kp F       &kp Z       &kp DOT     &kp J

                                        &kp SPACE   &mo NAV1            &mo S1      &to A1
            >;
        };

        symbol1 {
            bindings = <
                            &kp BSLH    &kp FSLH    &kp AT              &kp UNDER   &kp DQT     &kp SEMI
                &kp BSPC    &kp EXCL    &kp QMARK   &kp GRAVE           &kp MINUS   &kp SQT     &kp COLON   &mo NUM

                                        &kp SPACE   &mo S2              &none       &none
            >;
        };

        symbol2 {
            bindings = <
                            &kp BSLH    &kp FSLH    &kp AT              &kp UNDER   &kp DQT     &kp SEMI
                &kp BSPC    &kp EXCL    &kp QMARK   &kp GRAVE           &kp MINUS   &kp SQT     &kp COLON   &none

                                        &kp SPACE   &none               &none       &none
            >;
        };

        numbers {
            bindings = <
                            &kp N6      &kp N7      &kp COMMA           &kp DOT     &kp N4      &kp N5
                &kp BSPC    &kp N1      &kp N2      &kp N3              &kp N8      &kp N9      &kp N0      &none

                                        &kp SPACE   &none               &none       &none
            >;
        };

        navigation1 {
            bindings = <
                            &kp LG(C)   &kp UP      &kp LG(V)           &kp PSCRN   &kp PG_UP   &kp TAB
                &kp ESC     &kp LEFT    &kp DOWN    &kp RIGHT           &kp HOME    &kp PG_DN   &kp END     &kp RET

                                        &none       &none               &mo NAV2    &to GM1
            >;
        };

        navigation2 {
            bindings = <
                            &kp F6      &kp F7      &kp F11             &kp F12     &kp F4      &kp F5
                &kp DEL     &kp F1      &kp F2      &kp F3              &kp F8      &kp F9      &F10        &kp CAPS

                                        &none       &none               &none       &none
            >;
        };

        bluetooth {
            bindings = <
                            &none       &none       &none               &none       &none       &none
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR       &none       &none       &none       &none

                                        &none       &none               &none       &to A1
            >;
        };

        gaming1 {
            bindings = <
                            &kp L       &kp D       &kp Y               &kp M       &kp O       &kp U
                &kp N       &kp R       &kp T       &kp S               &kp H       &kp A       &kp I       &kp E

                                        &kp SPACE   &mo GM2             &kp J       &kp P
            >;
        };

        gaming2 {
            bindings = <
                            &kp X       &kp V       &kp G               &kp K       &kp Q       &kp COMMA
                &kp ESC     &kp W       &kp B       &kp C               &kp F       &kp Z       &kp DOT     &to A1

                                        &none       &none               &kp ENTER   &kp BSPC
            >;
        };
    };
};
